 <!----------------------------
      Footer Section
    ------------------------------>
    <footer class="footer">
      <h2 class="nav__brand color--white">Influencer Products</h2>
      <p class="copy-right color--light">
        Copyright © 2020 influencer products
        <span class="divider"></span>
        All rights reserved
      </p>

      <div class="footer__links">
        <a href="#" class="link"><i class="fab fa-facebook icon"></i></a>
        <a href="#" class="link"><i class="fab fa-instagram icon"></i></a>
        <a href="#" class="link"><i class="fab fa-youtube icon"></i></a>
        <a href="#" class="link"><i class="fab fa-dribbble icon"></i></a>
      </div>
    </footer>
