<!----------------------------
          Popular Collection Section
    ------------------------------>
<section class="section popular-collection">
  <h2 class="heading popular-collection__heading">Popular Collection</h2>
  <div class="products grid">
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/tripod.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Flex Tripod</h3>
        <span class="product__price">$50.48</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/mic.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">microphone</h3>
        <span class="product__price">$120.25</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/airpod.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Airpods</h3>
        <span class="product__price">$100.00</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/drone.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Drone</h3>
        <span class="product__price">$980.25</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/lights.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Light Setup</h3>
        <span class="product__price">$1200.00</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/setup.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Photoshoot set</h3>
        <span class="product__price">$820.40</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/camera.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Vlogging Camera</h3>
        <span class="product__price">$1800.80</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img
        src="./images/single-light.png"
        alt="Camera"
        class="img product__img"
      />
      <div class="product__info">
        <h3 class="heading product__title">Green Screen</h3>
        <span class="product__price">$25.48</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
    <!-- Product -->
    <article class="article product flex">
      <img src="./images/action.png" alt="Camera" class="img product__img" />
      <div class="product__info">
        <h3 class="heading product__title">Action Camera</h3>
        <span class="product__price">$380.00</span>
        <div class="product__ratings">
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star ratings__icon"></i>
          <i class="fas fa-star-half-alt ratings__icon"></i>
          <i class="far fa-star ratings__icon"></i>
          <span class="ratings__value">4.5</span>
        </div>
        <p class="product__desc">
          Wordwide shifting available Buyers protection possible!
        </p>
      </div>
    </article>
  </div>

  <a href="#" class="link see-more"
    >See more <i class="fas fa-long-arrow-alt-right link-arrow"></i
  ></a>
</section>
